* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


body {
		font-family: 'Roboto Mono', monospace;
}



a {
	text-decoration: none;
    color: #000;
}

mark {
    background: #000;
    color: #fff;
}

span {
    background: #fff;
    color: #000;
}

footer {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

footer p {
    display: inline-block;
}

@use postcss-cssnext;

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
:root {
    --animation-delay: 2s;
    --duration: 900ms;
    --iterations: 1;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay);
    animation-iteration-count: var(--iterations);
    animation-duration: var(--duration);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
    position: relative;
    display: block;
    animation-name: reveal-text;
    white-space: nowrap;
    cursor: default;
}
    
    .reveal-text::after {
        content: "sticky";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        color: #fff;
        transform: scaleX(0);
        transform-origin: 0 50%;
        animation-name: revealer-text;
    }
    
}


@keyframes reveal-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}


@keyframes revealer-text {
    
    0%, 50% {
        transform-origin: 0 50%;
    }
    
    60%, 100% {
        transform-origin: 100% 50%;     
    }

    
    60% {
        transform: scaleX(1);
    }
    
    100% {
        transform: scaleX(0);
    }
}








@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.et-hero-tabs h1 { 
    border-right: .1em solid black;
    color: #fff;
    width: 15em;
    width: 19ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
    blink-caret .3s step-end infinite alternate;
    /* ---- EFECTO 3D ------*/
  letter-spacing: 0.03em;
  text-shadow: -0.05em 0 0 #F22613,  0.02em 0 0 #00FFFF;
}

.et-hero-tabs h2 {
    color: #fff;
     /* ---- EFECTO 3D ------*/
    letter-spacing: 0.03em;
  text-shadow: -0.03em 0 0 #F22613,  0.02em 0 0 #00FFFF;
}

 body .et-hero-tabs {

    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
	text-align: center;
	padding: 0 2em;
}
        .et-hero-tabs h1 {
        font-size: 3rem;
        margin: 0;
        letter-spacing: 1rem;
    }
     .et-hero-tabs h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }


.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}
    .et-hero-tabs-container--top {
        position: fixed;
        top: 0;
        opacity: .96;
    }


.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;

    }
	  .et-hero-tab:hover {
			color:white;
      background: rgba(0,0,0,0.8);
			transition: all 0.5s ease;
    }


.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #000;
    transition: left 0.3s ease;
}

/* --- ABOUT US -----*/



  .et-main .portafolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    overflow: visible;
    height: auto;
}

.et-main .portafolio .portafolio_foto {

    vertical-align: top;
    top: 10;
    margin-top: 100px;
    -webkit-box-shadow: 7px 9px 48px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 48px -20px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 48px -20px rgba(0,0,0,0.75);
}

.et-main .portafolio .portafolio_info {

    vertical-align: top;
    top: 10;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;

}
.et-main .portafolio .portafolio_info h1 {
    text-shadow: -0.02em 0 0 #F22613,  0.02em 0 0 #00FFFF;
}

.et-main .portafolio .portafolio_info h1, 
.et-main .portafolio .portafolio_info h3, 
.et-main .portafolio .portafolio_info p {

    margin-bottom: 20px;
}


.et-main .portafolio .portafolio_foto img {
    width: 100%;
    height: auto;
}



/*---- SERVICES -----*/

.et-main .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    overflow: visible;
    height: auto;
}

.et-main .skills .portafolio_foto {

    vertical-align: top;
    top: 10;
    margin-top: 100px;
    -webkit-box-shadow: -11px 13px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 13px 24px -14px rgba(0,0,0,0.75);
    box-shadow: -11px 13px 24px -14px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    height: auto;
}

.et-main .skills .portafolio_info {

    vertical-align: top;
    top: 10;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;

}

.et-main .skills .portafolio_info h1 {
    text-shadow: -0.03em 0 0 #F22613,  0.02em 0 0 #00FFFF;
}

.et-main .skills .portafolio_info h1, 
.et-main .skills .portafolio_info h3, 
.et-main .skills .portafolio_info p {

    margin-bottom: 20px;
}

.et-main .skills .portafolio_foto img {
    width: 100%;
    height: auto;
}


/*---- PORFOLIO -----*/

.et-main .et-slide .portafolio {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    padding: 50px;
    
}

.et-main .et-slide .portafolio img {

    width: 100%;
}

.et-main .portfolio h1 {

    margin-bottom: 50px;
    margin-top: 80px;
    letter-spacing: 0.03em;
  text-shadow: -0.05em 0 0 #F22613,  0.02em 0 0 #00FFFF;
}

.et-main .portfolio {

    height: auto;
}

.et-main .portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

.contenedor:hover .overlay {
  opacity: .9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contenedor {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


/*---- CONTACTO -----*/

.et-main .form h1 {
    text-shadow: -0.03em 0 0 #F22613,  0.02em 0 0 #00FFFF;
}

.et-main .form h3 {

    margin-bottom: 30px;

}

.et-main .form .formulario .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
}

.et-main .form .formulario .enviar {

    width: 300px;
    justify-content: center;
    text-align: center;
    height: auto;
    background: #000;
    color: #fff;
    -webkit-box-shadow: 10px 13px 53px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 53px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 53px -4px rgba(0,0,0,0.75);
}


.et-main .form .formulario .enviar:hover {

    background: #ccc;
    color: #000;
    cursor: pointer;

}


input, textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 20px;
    padding: 20px;
}

form {
    width: 100%;
    padding: 0 100px;
}

input {

    height: 30px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.textarea {

    @extend .input;

    min-height: 100px;
    resize: vertical;
}

/*---- MAPA -----*/

.mapa {

    width: 100%;
}

.et-main .mapas iframe {

    margin-top: 50px;
}

/* --- MODAL POP UP -----*/

.modal { 
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}



.modal-content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.modal-content img {

    width: 70%;
    margin: auto;
}

.modal .descripcion {

    padding: 0 50px;
}


















/*MEDIA QUERYS*/

@media (min-width: 800px) {
    .et-hero-tabs h1 {
        font-size: 3rem;
    }
     .et-hero-tabs h3 {
        font-size: 1rem;
    }



	.et-hero-tab {
		font-size: 1rem;
	}

    .et-main h1 {
        font-size: 3rem;
    }

    .et-main h3 {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 800px) {

    .et-main .portafolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.et-main .skills {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.et-main .et-slide .skills_section {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    
}
.et-main .et-slide .portafolio {

    grid-template-columns: repeat(2, 1fr);
}



}

@media screen and (max-width: 580px) {
.et-main .et-slide .skills_section {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    
}

.et-main .et-slide .portafolio {

    grid-template-columns: 1fr;
}

.et-main .form .formulario .info {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

}